/* -------------------------- */
/*        ROOT VARIABLES      */
/* -------------------------- */
:root {
  --bg: linear-gradient(135deg, #f5f5f5, #eaeaea);
  --text: #222;
  --header-bg: rgba(255, 255, 255, 0.5);
  --btn-bg: #4b0082;
  --btn-text: #fff;
  --card-bg: #FFFFFF;
  --form-bg: rgba(183, 183, 183, 0.54);
}

/* Dark Mode */
.dark {
  --bg: linear-gradient(135deg, #190A45, #0D1752);
  --text: #f2f2f2;
  --header-bg: rgba(0, 0, 0, 0.4);
  --btn-bg: #ffffff;
  --btn-text: #4b0082;
  --card-bg: #FFFFFF;
  --form-bg: rgba(255, 255, 255, 0.1);
}


/* Mobile */
@media (orientation: portrait) {
  html {
    max-width: auto;
  }
  
  header h1 {
    font-size: 16px;
  }
  
  .hero {
    
    max-height: 120px;
  }
  
  .hero h1 {
    font-size: 40px;
  }
  
  .FORM {
    width: 50%;
  }
  
  #mobileAutoScroll {}
  
  .autoScroll {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .boxItem {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}





/* Desktop */
@media (orientation: landscape) {
  
  html {
    max-width: 1300px;
  }
  
  header h1 {
    font-size: 24px;
  }
    .hero h1 {
    font-size: 60px;
  }
  .FORM {
    width: 30%;
  }
  
  #container_form {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  #deskAutoScroll {
    
    display: flex;
    /* Kunci supaya justify-content & align-items bekerja */
    justify-content: center;
    /* Tengah horizontal */
    align-items: center;
    /* Tengah vertical */
    width: 50%;
    /* Lebar container */
    height: 300px;
    /* Atau sesuai tinggi yang diinginkan */
    margin: 0 auto;
    /* Tengah horizontal untuk container itu sendiri */
    
  }
  
  .boxItem {
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 388px;
  }
  
  #deskAutoScroll h3 {
    margin-top: 20px;
    font-size: 26px;
    margin-bottom: 0px;
  }
  
  .autoScroll {
    width: auto;
    border-radius: 15px;
    
  }
  

}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

i {
  font-size: 14px;
  opacity: 0.5;
  text-align: center;
  color: var(--text);
}


.theme-btn {
  padding: 8px 12px;
  font-size: 18px;
  background: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.theme-btn:hover {
  opacity: 0.8;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-bg);
  backdrop-filter: blur(6px);
}


header h1 {
  margin: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-header {
  text-align: center;
  font-size: 12px;
  padding: 8px 10px;
  background: #ffffff;
  color: #4b0082;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}


nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  padding: 10px 18px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  
}

.hero h1 {
  font-family: "Dancing Script", cursive;
  margin-bottom: 3px;
  text-align: center;
}

.hero p {
  max-width: 90%;
  font-size: 13px;
  opacity: 0.9;
  margin: 5px;
}

line{
  
  border: 1px solid var(--form-bg);
  opacity: 0.5;
  border-radius: 1000px;
  width: 100%;
}

footer {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  margin-top: auto;
  /* KUNCI PENTING */
}



.boxItem {
  background: url('assets/img/bgIMG_20251203_152452.png') no-repeat center center;
  background-size: cover;
  border: 1px solid var(--header-bg);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: auto;
  margin: 10px;
  
}

/*conten autoScroll open*/
.autoScroll {
  max-height: 360px;
  width: auto;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 100%;
}

.autoScroll img {
  max-width: 600px;
  max-height: 200;
}

#mobileAutoScroll h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}

#deskAutoScroll{
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

#deskAutoScroll h3{
  margin:0px;
  padding: 0px;
  font-size: 26;
  text-align: center;
  line-height: 1;
}

.item {
  min-width: 126px;
  height: 146px;
  background: var(--card-bg);
  color: #222;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.item img {
  width: 98px;
  height: 98px;
}

.item b {
  font-size: 14px;
  display: flex;
  
}

/*conten autoScroll close*/



/*Form registration open*/
#container_form {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.FORM {
  background: var(--form-bg);
  border: 1px solid var(--header-bg);
  color: var(--text);
  border-radius: 18px;
  padding: 25px;
  margin: 10px;
  backdrop-filter: blur(5px);
}


.FORM h2 {
  text-align: center;
}

label {
  font-size: 14px;
  opacity: 0.9;
}

input {
  width: 100%;
  padding: 10px 0px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
}

input:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.85;
}


.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.9;
}

.switch:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/*Form registration close*/