  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4b0082, #6a0dad);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* INI KUNCI */
    align-items: center;
    /* Agar rata tengah secara vertikal */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
  }
  
  header h1 {
    margin: 0;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .btn-header {
    text-align: center;
    font-size: 12px;
    padding: 8px 10px;
    background: #ffffff;
    color: #4b0082;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
  }
  
  
  nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  nav a {
    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
  }
  
  nav a:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 460px;
    
  }
  
  .hero h2 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin-bottom: 3px;
  }
  
  .hero p {
    max-width: 90%;
    font-size: 13px;
    opacity: 0.9;
    margin: 5px;
  }
  
  .hero i {
    font-size: 12px;
    opacity: 0.9;
    text-align: center;
    color: #C7C7CC;
  }
  
  .btn-primary {
    text-align: center;
    max-width: 30%;
    margin-top: 20px;
    padding: 12px 26px;
    background: #ffffff;
    color: #4b0082;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
  }
  
  .btn-primary:hover {
    background: #ddd;
  }
  
  footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    margin-top: auto;
    /* KUNCI PENTING */
  }
  
  
  /*conten autoScroll open*/
  .scroll-container {
    background: linear-gradient(135deg, #D8D5D5, #505050);
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    white-space: nowrap;
  }
  
  .item {
    min-width: 120px;
    height: 200px;
    background: linear-gradient(135deg, #FFFFFF, #FFFFFF);
    color: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    flex-shrink: 0;
  }
  
  .item img {
    width: 80px;
    height: 80px;
    margin-bottom: 80%;
  }
  
  /*conten autoScroll close*/
  
  
  
  /*Form registration open*/
  #container_form {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .FORM {
    width: 80%;
    max-width: 380px;
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 18px;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    font-size: 14px;
    opacity: 0.9;
  }
  
  input {
    width: 100%;
    padding: 10px 0px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #4b0082;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .btn:hover {
    background: #ddd;
  }
  
  .switch {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.9;
  }
  
  .switch:hover {
    text-decoration: underline;
  }
  
  .hidden {
    display: none;
  }
  
  /*Form registration close*/